<h1>My shopping list</h1>

<input type="text" placeholder="Need to buy">
<button><fa-icon [icon]="faPlusCircle"></fa-icon></button>


<ul>
  <li>Item 1
    <button>
      <fa-icon [icon]="faPen"></fa-icon>
    </button>
    <button>
      <fa-icon [icon]="faTimesCircle"></fa-icon>
    </button></li>
  <li>Item 1
    <button>
      <fa-icon [icon]="faPen"></fa-icon>
    </button>
    <button>
      <fa-icon [icon]="faTimesCircle"></fa-icon>
    </button>
  </li>
  <li>Item 1
    <button>
      <fa-icon [icon]="faPen"></fa-icon>
    </button>
    <button>
      <fa-icon [icon]="faTimesCircle"></fa-icon>
    </button>
  </li>
</ul>
