<main>
  <h1>My shopping list</h1>

  <input
    type="text" 
    placeholder="I need to buy ..."
    id="addItem" 
    [(ngModel)]="itemToBuy.name"
    (keydown.enter)="addNewItem()"

  />
  <button class="add" (click)="addNewItem()">
    <fa-icon [icon]="faPlusCircle" size="lg">
    </fa-icon>
  </button>

  <ul>
    <li *ngFor="let itemToBuy of itemsToBuy"> {{itemToBuy.name}} 
      <button (click)="updateItem(itemToBuy)"><fa-icon [icon]="faPen" size="lg"></fa-icon></button>
      <button (click)="deleteItem(itemToBuy)"><fa-icon [icon]="faTimesCircle" size="lg"></fa-icon></button>
    </li>
  </ul>

</main>