<main>
  <h1>My shopping list</h1>

  <input 
    type="text" 
    placeholder="Need to buy"
    id="addItem" 
    [(ngModel)]="itemToBuy"
        (keydown.enter)="addNewItem()"

  />
  <button class="add" (click)="addNewItem()"><fa-icon [icon]="faPlusCircle" size="lg"></fa-icon></button>

  <ul>
    <li *ngFor="let itemToBuy of itemsToBuy"> {{itemToBuy.name}} 
      <button><fa-icon [icon]="faPen" size="lg"></fa-icon></button>
      <button><fa-icon [icon]="faTimesCircle" size="lg"></fa-icon></button>
    </li>
  </ul>
    
</main>